body{
    color: #f0f0f0;
}
header{
    width: 100%;
    height: 50px;
    background: #F75802;
}
header h2{
    padding: 5px 20px 5px 20px;
    font-family: Tahoma, sans-serif;
    font-size: 1.9em;
}
/*---- Content ----*/
section{
    position: absolute;
    width: 100%;
    height: auto !important;
    min-height: 678px;
    max-height: 1446px;
    overflow: hidden;
}
section article{
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -175px;
    margin-left: -175px;
    width: 350px;
    height: 350px;
    background: #F75802;
    border-radius: 50%;
    opacity: 1;
    -webkit-animation-name: 'movement';
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 3s;
    animation-name: 'movement';
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-duration: 3s;
}
@-webkit-keyframes 'movement'{
    from{
        width: 50px;
        height: 50px;
        bottom: -50px;
        left: 50%;
        margin-left: -25px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    50%{
        width: 200px;
        height: 200px;
        bottom: 25%;
        left: 50%;
        opacity: 0.6;
        margin-left: -100px;
        margin-bottom: -100px;
        -webkit-animation-timing-function: linear;
    }
    100%{
        width: 350px;
        height: 350px;
        bottom: 50%;
        left: 50%;
        opacity: 1;
        margin-left: -175px;
        margin-bottom: -175px;
        -webkit-animation-timing-function: linear;
    }
}
@keyframes 'movement'{
    from{
        width: 50px;
        height: 50px;
        bottom: -50px;
        left: 50%;
        margin-left: -25px;
        opacity: 0;
        animation-timing-function: linear;
    }
    50%{
        width: 175px;
        height: 175px;
        bottom: 0;
        left: 50%;
        opacity: 0.6;
        margin-left: -87px;
        margin-bottom: -87px;
        animation-timing-function: linear;
    }
    100%{
        width: 350px;
        height: 350px;
        bottom: 50%;
        left: 50%;
        opacity: 1;
        margin-left: -175px;
        margin-bottom: -175px;
        animation-timing-function: linear;
    }
}
footer{
  width: 100%;
  height: 40px;
}
