body{
    color: #f0f0f0;
}
header{
    width: 100%;
    height: 50px;
    background: #F75802;
}
header h2{
    padding: 5px 20px 5px 20px;
    font-family: Tahoma, sans-serif;
    font-size: 1.9em;
}
/*---- Content ----*/
section{
    position: relative;
    width: 100%;
    height: auto !important;
    min-height: 678px;
    max-height: 1446px;
    overflow: hidden;
}
section article{
    position: absolute;
    bottom: 50%;
    left: 50%;
    margin-bottom: -175px;
    margin-left: -175px;
    width: 350px;
    height: 350px;
    background: #F75802;
    border-radius: 50%;
    opacity: 1;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.27);
    -webkit-animation-name: 'movement';
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    -webkit-animation-duration: 1.5s;
    animation-name: 'movement';
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-duration: 1.5s;
}
@-webkit-keyframes 'movement'{
    from{
        width: 10px;
        height: 10px;
        bottom: 50%;
        left: 50%;
        margin-left: -5px;
        margin-bottom: -5px;
        opacity: 0;
        -webkit-animation-timing-function: linear;
    }
    25%{
        width: 90px;
        height: 90px;
        bottom: 50%;
        left: 50%;
        margin-left: -45px;
        margin-bottom: -45px;
        opacity: 0.18;
        -webkit-animation-timing-function: linear;
    }
    50%{
        width: 180px;
        height: 180px;
        bottom: 50%;
        left: 50%;
        margin-bottom: -90px;
        margin-left: -90px;
        opacity: 0.35;
        -webkit-animation-timing-function: linear;
    }
    100%{
        width: 350px;
        height: 350px;
        bottom: 50%;
        left: 50%;
        margin-bottom: -175px;
        margin-left: -175px;
        opacity: 1;
        -webkit-animation-timing-function: linear;
    }
}
@keyframes 'movement'{
    from{
        width: 10px;
        height: 10px;
        bottom: 50%;
        left: 50%;
        margin-left: -5px;
        margin-bottom: -5px;
        opacity: 0;
        animation-timing-function: linear;
    }
    25%{
        width: 90px;
        height: 90px;
        bottom: 50%;
        left: 50%;
        margin-left: -45px;
        margin-bottom: -45px;
        opacity: 0.18;
        animation-timing-function: linear;
    }
    50%{
        width: 180px;
        height: 180px;
        bottom: 50%;
        left: 50%;
        margin-bottom: -90px;
        margin-left: -90px;
        opacity: 0.35;
        animation-timing-function: linear;
    }
    100%{
        width: 350px;
        height: 350px;
        bottom: 50%;
        left: 50%;
        margin-bottom: -175px;
        margin-left: -175px;
        opacity: 1;
        animation-timing-function: linear;
    }
}
footer{
  width: 100%;
  height: 40px;
}
